/* SearchBar.css */

/* Wrapper to position the label and input */
.search-bar-wrapper {
  position: relative;
  width: 100%;
}
.search-bar-container {
  /* position: relative;
  width: 100%; */
  /* margin-bottom: 1rem; Add spacing below each search bar */
  flex: 0 0 auto; 
}

.search-bar-flex-container {
  display: flex; /* Enable flexbox layout */
  flex-wrap: wrap; /* Allow wrapping to the next line if there are too many items */
  gap: 10px; /* Add space between search bars */
}


/* Label styling for placeholder effect */
.search-bar-label {
  position: absolute;
  left: 1.25rem; /* Align with input padding-left */
  top: 62%; /* Center the label vertically */
  transform: translateY(-50%);
  font-size: 1rem; /* Default font size */
  color: #6b7280; /* Gray color */
  transition: all 0.2s ease-in-out; /* Smooth animation */
  pointer-events: none; /* Prevent interaction with the label */
}


/*does not affect the result of the columinise searchbar feature*/
.search-bar-form {
  width: 100%;
 /* max-width: 32rem;  Equivalent to max-w-2xl in Tailwind */
  z-index: 1000;/* Ensure it appears above other content */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* margin: 0 auto; */
}

/* Input styling */
.search-bar-input {
  width: 100%;
  padding: 1.5rem 3rem 1.5rem 1.25rem;
  border-radius: 34px;
  border: 1px solid #d1d5db;
  outline: none;
  font-size: 1rem;
  transition: all 0.2s ease-in-out;
}

/*does not affect the result of the columinise searchbar feature*/

/* Move label up when input is focused */
.search-bar-input:focus + .search-bar-label,
.search-bar-input:not(:placeholder-shown) + .search-bar-label {
  top: 1rem; /* Move label up */
  font-size: 0.75rem; /* Shrink font size */
  color: #3b82f6; /* Blue color */
}


/* Input focus styling */
.search-bar-input:focus {
  border-color: #3b82f6; /* Blue border when focused */
}

/* Optional: Styling the button */
.search-bar-button {
  position: absolute;
  right: 1rem;
  top: 61%;
  transform: translateY(-50%);
  background-color: #3b82f6;
  color: white;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.search-bar-button:hover {
  background-color: #2563eb;
}


.results-table {
  max-height: calc(100vh - 100px); /* Adjust for spacing */
  overflow-y: auto; /* Enable vertical scrolling within the table */
  overflow-x: auto; /* Enable horizontal scrolling for wide tables */
}

.table-cell-header {
  font-weight: bold;
  text-transform: uppercase;
  color: #6b7280;
}

.scrollable-table-container{
  padding-top: 40px;
}


